 
  
<mat-stepper orientation="vertical"  #stepper>
    <mat-step [stepControl]="Accident">
        <form  [formGroup]="Accident">
            <ng-template matStepLabel>Accident</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>date d'accident</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="Accident.controls['date'].errors?.['required']" >Champ obligatoire</mat-error>
            </mat-form-field>
            

            <mat-form-field  >
                <mat-label>Lieu</mat-label>
                <input formControlName="lieu" matInput placeholder="Ex. Rue monji slim 1145 Ben Arous">
                <mat-error *ngIf="Accident.controls['lieu'].errors?.['required']" >Champ obligatoire</mat-error>
            </mat-form-field>

            <mat-radio-group formControlName="Blessure" aria-label="Select an option">
                <mat-label>Blessés</mat-label>
                <mat-radio-button  value="1">Non</mat-radio-button>
                <mat-radio-button  value="2">Oui</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="Accident.controls['Blessure'].errors?.['required']">Veuillez sélectionner une option pour indiquer s'il y a eu des blessures ou non lors de l'accident.</mat-error>

            <mat-radio-group formControlName="Degats" aria-label="Select an option">
                <mat-label>Degats Materiaux</mat-label>
                <mat-radio-button value="3">Oui</mat-radio-button>
                <mat-radio-button value="4">Non</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="Accident.controls['Degats'].errors?.['required']">Veuillez sélectionner une option pour indiquer s'il y a eu des degats ou non lors de l'accident.</mat-error>
            <button mat-button   (click)="toggleExpansion()">Toggle Expansion Panel</button>
                <mat-expansion-panel #myPanel [expanded]="isExpansionPanelOpen" [disabled]="!isExpansionPanelOpen">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Expansion Panel</mat-panel-title>
                    </mat-expansion-panel-header>
                    <form  [formGroup]="Optional">
                        <mat-form-field >
                            <mat-label>Nom</mat-label>
                            <input formControlName="nom"  matInput placeholder="Ex. Pizza" >
                            <mat-error *ngIf="Optional.controls['nom'].invalid && Optional.controls['nom'].touched" >champ obligatire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field >
                            <mat-label>Prénom</mat-label>
                            <input formControlName="prenom"  matInput placeholder="Ex. Rue monji slim 1145 Ben Arous" >
                            <mat-error *ngIf="Optional.controls['prenom'].invalid && Optional.controls['prenom'].touched" >champ obligatire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field >
                            <mat-label>Age</mat-label>
                            <input formControlName="age" 
                             matInput type="number" >
                            <mat-error *ngIf="Optional.controls['age'].invalid && Optional.controls['age'].touched" >champ obligatire</mat-error>
                        </mat-form-field>
    
                        <mat-form-field  >
                            <mat-label>Adresse</mat-label>
                            <input formControlName="adrs" matInput placeholder="Ex. Pizza" >
                            <mat-error *ngIf="Optional.controls['adrs'].invalid && Optional.controls['adrs'].touched" >champ obligatire</mat-error>

                        </mat-form-field>
                    </form>
                </mat-expansion-panel>
            <div>
                <button  [disabled]="myPanel.expanded && Optional.invalid " mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="assureeConducteur">
        <form  [formGroup]="assureeConducteur">
        <ng-template matStepLabel>Conducteur et Assure</ng-template>
        <div class="cards">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Assuré</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="part1">
                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput formControlName="nom">
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Prénom</mat-label>
                            <input matInput formControlName="prenom">
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Adresse</mat-label>
                            <input matInput formControlName="adr" placeholder="EXP .1145 ben arous rue liberte ">
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Tél</mat-label>
                            <input matInput formControlName="tel" placeholder="+216">
                        </mat-form-field>
                        <mat-checkbox color="primary" #chkEnable ngModel (change)="disableField(chkEnable.checked)" formControlName="driverIsInsured">Assuré est le Conducteur</mat-checkbox>
                        
                        <mat-form-field >
                            <mat-label>Num Permis</mat-label>
                            <input [disabled]="!assureeConducteur.get('work')?.value"  matInput formControlName="numPA" placeholder="+216">
                        </mat-form-field> 
    
                        <mat-form-field >
                            <mat-label>Date de Permis</mat-label>
                            <input [disabled]="!assureeConducteur.get('work')?.value" matInput formControlName="datePA" placeholder="+216">
                        </mat-form-field>
     
                    </div>
                </mat-card-content>
                
            </mat-card>

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Conducteur</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="part2" >
                        <mat-form-field>
                            <mat-label>Nom Conducteur</mat-label>
                            <input [disabled]="assureeConducteur.get('work')?.value" type="text" formControlName="nomCon" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Prénom Conducteur</mat-label>
                            <input type="text" formControlName="preCon" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Tél</mat-label>
                            <input matInput formControlName="telCon" placeholder="+216">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Adresse</mat-label>
                            <input matInput formControlName="adrCon" placeholder="EXP .1145 ben arous rue liberte ">
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Num Permis</mat-label>
                            <input  matInput formControlName="numPC" placeholder="+216">
                        </mat-form-field> 
    
                        <mat-form-field >
                            <mat-label>Date de Permis</mat-label>
                            <input matInput formControlName="datePC" placeholder="+216">
                        </mat-form-field>
                    </div>
                </mat-card-content>
                
            </mat-card> 
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>


    <mat-step [stepControl]="vehicule">
        <form  [formGroup]="vehicule">
        <ng-template matStepLabel>Vehicule</ng-template>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Vehicule Informations</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="markType">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Number</mat-label>
                        <input type="text"
                            placeholder="Pick one"
                            aria-label="Number"
                            matInput
                            formControlName="marque"
                            [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose an option</mat-label>
                        <mat-select>
                            <mat-option value="CUV">Voiture CUV</mat-option>
                            <mat-option value="SUV" >SUV</mat-option>
                            <mat-option value="VAN" >Camionette</mat-option>
                            <mat-option value="camion">Camion</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>    
                    <mat-form-field>
                        <mat-label>Série</mat-label>
                        <input matInput formControlName="serie" type="text" >
                    </mat-form-field>
                <mat-form-field>
                    <mat-label>Venant de </mat-label>
                    <input formControlName="deb" matInput type="text" >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Allant Vers</mat-label>
                    <input formControlName="fin" matInput type="text" >
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        </form>
    </mat-step>




    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()" >Envoyer</button>
        </div>
    </mat-step>
</mat-stepper> 


            